.SignUp-CancelButton {

}

.SignIn-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 500px;
    height: 500px;
    border: 10px solid rgb(156, 192, 208);
    background-color: rgb(255, 255, 255);
}

.logInBody{
    position: absolute;
    top: 10%;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignIn-Form{
    margin-left: 15px;
}

.Password-Input{
    border: solid rgba(106, 106, 247, 0.941);
}